// Variables

$light-grey: #8F8A8B;
$medium-grey: #545152;
$medium-dark-grey: #272729;
$dark-grey: #0D0C0D;

$light-coral: #F9B8A4;
$medium-coral: #F37962;
$dark-coral: #D94841;

$main-grey: #19181A;
$background: #ECEDE2;
$main-coral: #F05546;

$text-color: $main-grey;
