// Variables

$light-grey: #8F8A8B;
$medium-grey: #545152;
$medium-dark-grey: #272729;
$dark-grey: #0D0C0D;

$light-coral: #F9B8A4;
$medium-coral: #F37962;
$dark-coral: #D94841;
$extra-dark-coral: #bf2d26;

//Core Colors
$grey: #19181A;
$coral: #F05546;
$background: #ECEDE2;

$text-color: $grey;
