@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}


body{
  font-family: sans-serif;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn,
  &.noscript .toggle-btn{
      display: none;
  }
}

header {
  padding: 0 1em;
  position: relative;
}

.toggle-btn{
  position: absolute;
  right: 1em;
  top: 0;
}

.navigation{
  ul{
    padding: 0;
  }
  li {
    list-style-type: none;
    &:first-child a{
    }
      a{
      color: black;
      display: block;
      text-align: center;
      padding: .5em 1em;
      border-bottom: 1px solid $light-grey;
      text-decoration: none;
    }
    a:hover {
      background-color: $light-grey;
      color: black;
    }
  } // li
} // .navigation

.toggle-btn,{
    color: $text-color;
    text-decoration: none;
    height: 40px;
    width: 40px;
    &:before{
      height: 40px;
      width: 40px;
      display: inline-block;
      padding: 13px 11px;
      border: 1px solid $light-grey;
    }
    span{
      @include element-invisible;
    }
}

.close-btn {
  color: white;
  text-decoration: none;
  height: 40px;
  width: 40px;
  margin: 1em;
  &:before{
      height: 40px;
      width: 40px;
      display: inline-block;
      padding: 13px 11px;
      border: 1px solid $light-grey;
    }
  &:hover:before{
    background-color: black;
  }
    span{
      @include element-invisible;
    }
  &:hover {
    background-color: $light-grey;
    }
}

/*Sliding navigation*/

// Page should move when the nav opens
// This is the only time we will ever use max-width EVER.

@media only screen and (max-width: 60em) {
  .site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    .sliding-canvas{
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateX(0);
      transition: all 300ms ease-in-out;
    }

    &[data-state="slide-open"] .sliding-canvas{
      transform: translateX(-100%);
    }

    &[data-state="slide-open"]{
      overflow: visible;
    }

  } // .site-wrapper


} // @media query

.slide-menu {
  position: relative;
  background-color: $main-grey;
}

.navigation {
  position: absolute;
  width: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  padding: 0;
  min-height: 800px;
}

.color-shift {
  color: blue;
}


@media only screen and (min-width: 60em){
  .toggle-btn,
  .close-btn{
    display: none;
  }


  body.noscript .navigation{
    position: static;
    right: auto;
  }

  .color-shift {
    color: red;
  }

  .navigation {
    position: absolute;
    display: block;
    right: 0;
      ul {
        li {
          display: inline-block;
        }
      }
  }


}
